body {
  font-family: 'Poppins', 'Arial', sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  max-height: 10vh;
  position: sticky;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    z-index: 10;
    top: 1.5rem;
    transition: all 0.3s ease;

    .logo {
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #ffffff;
      margin-right: 75px;
      cursor: pointer;
      text-decoration: none;

      span {
        font-weight: 700;
      }
    }
  }


  .navigation a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 2px;
      background: #ffffff;
      transition: width 0.3s ease;
    }

    &:hover {
      color: #ffffff;

      &::after {
        width: 100%;
      }
    }
  }

}

.timeline {
  max-width: 50vw;   // or whatever width you like
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #fff; // biały tekst
  background-color: #00000000; // czarne tło

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
  }
}

.timeline-item {
  display: flex;
  position: relative;
  margin-bottom: 30px;

  &:last-child .timeline-line {
    display: none;
  }
}

.timeline-indicator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;

  svg {
    background-color: #1a1a1a;
    border-radius: 50%;
    padding: 4px;
    color: #fff; // ikona też biała
  }
}

.timeline-line {
  width: 2px;
  background-color: #555; // lekko jaśniejsza linia
  flex-grow: 1;
  margin-top: 4px;
}

.timeline-content {
  flex: 1;

  .timeline-date {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 4px;
    display: block;
  }

  .timeline-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 5px 0;
  }

  .timeline-description {
    font-size: 1.2rem;
    margin: 0;
  }
}