.results-header {
    margin-top: 10rem;
    margin-bottom: 1rem;
    color: #333;
    width: 100%;
}

.bracket {
    max-width: 90vw;
    background-color: transparent;

    div > div > div > div {
        background-color: #111;
        color : rgb(255, 255, 255);
        border-radius: 10px;
        
    }
}